.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#333333, #4c4a4a);
}
.text{
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: #212121;
    font-size: 150px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: 19px solid #212121;
}
    .text::before{
        position: absolute;
        top: 0;
        left: 0;
        content: 'Loading...';
        color: #00ffff;
        border-bottom: 19px solid #00ffff;
        overflow: hidden;
        animation: loading 5s infinite linear;

    }
 @keyframes loading {
0%{
    width: 0;
}
100%{
    width: 100%;
}
 }