.shape {
    position: relative;
    width: 100px;
    height: 90px;
}
.shape:before,
.shape:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #cb3b3b;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.shape:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
